@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text-blue {
  background: linear-gradient(90deg, #0d6efd 0%, #0dcaf0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-blue:hover {
  background: linear-gradient(90deg, #6f42c1 0%, #e83e8c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
